<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false"/>
  </configSections>
  <FineUI Theme="Neptune" Language="zh_CN" AjaxTimeout="120" EnableAjax="true" DebugMode="false" FormMessageTarget="Qtip" FormOffsetRight="0" FormLabelWidth="100" FormLabelSeparator="" FormLabelAlign="Left" EnableAjaxLoading="true" AjaxLoadingType="Default" CustomTheme="" IconBasePath="~/res/icon" CustomThemeBasePath="~/res/theme" JSBasePath="~/extjs" IEEdge="true"/>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=rongxiwang;User ID=gil;Password=gil;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DatabaseType" value="oracle"/>
    <add key="DatabaseServer" value="GIL"/>
    <add key="DatabaseName" value="GIL"/>
    <add key="TableSpace" value="USER_DATA"/>
    <add key="DatabaseUser" value="gil"/>
    <add key="DatabasePass" value="gil"/>
    <add key="EmailForPassword" value="webspc_xjtu@163.com"/>
    <!--<add key="EmailForPassword" value="quality@xjtu.edu.cn"/>-->
    <add key="popserver" value="smtp.163.com"/>
    <!--<add key="popserver" value="smtp.xjtu.edu.cn"/>-->
    <add key="popserverport" value="25"/>
    <add key="emailuser" value="webspc_xjtu"/>
    <add key="emailpass" value="103512508"/>
    <!--<add key="emailuser" value="quality"/>
    <add key="emailpass" value="q82669137"/>-->
    <add key="ServiceDatabaseServer" value="dmTATw28hUc="/>
    <add key="ServiceDatabaseName" value="dmTATw28hUc="/>
    <add key="ServiceDatabaseUser" value="dUf1kZSAyIi6IjQiWh8vUg=="/>
    <add key="ServiceDatabasePass" value="dUf1kZSAyIi6IjQiWh8vUg=="/>
    <add key="ServiceUser" value="nvhjc0kGCoY="/>
    <add key="ServiceSwitch" value="KGvLIoybwEo="/>
    <add key="SoftKeyBoardSwitch" value="3G3k1E8jRnQ="/>
    <add key="DataFormatCheck" value="3G3k1E8jRnQ="/>
    <add key="LimitOnline" value="d0asp8s0u7fXLQqf3T2b2A=="/>
    <add key="PassWordErrorRecord" value="MKMlcxZ5vTU="/>
    <add key="ErrorRecordNum" value="NKHFu3S2jb8="/>
    <add key="dal" value="thesis.dal"/>
    <add key="CacheTimout" value="60"/>
    <add key="SessionTimout" value="20"/>
    <add key="PageRefreshSwitch" value="false"/>
    <add key="PageRefreshInterval" value="1"/>
    <add key="CompanyWebSite" value="http://www.baidu.com"/>
    <add key="OASite" value="http://www.sohu.com"/>
    <add key="ServiceSite" value="http://202.117.14.242/webservice"/>
    <add key="EvaluatingPage" value="http://192.168.5.90:22084/webs/FMEA/Evaluating.aspx"/>
    <add key="UserLicense" value="1idb9CWAqr8="/>
    <add key="SystemName" value="长距离特高压GIL可靠性分析平台(RAP_GIL)"/>
    <add key="BannerSwitch" value="0"/>
    <add key="LicenseCode" value="LPtvPBvUJgUna+FjvsfAVsjNFZ7wkRMGE4W8IKnQwXMMMuh2M2vNEQ=="/>
    <add key="LicensePhysicalCode" value="szTQEXpJmrKcMx7LWJbI4P3a+wQl+xtE"/>

    <add key="model_type1" value="IY7auu7Ts8kgcaGRqMEadg=="/>
    <add key="model_type2" value="ZSnUKcarrELcOhvFKxGUUA=="/>
    <add key="uid" value="USIOdSNKEKtwkBdJ9CCfaw=="/>
    <add key="pas" value="n1pTzMtqc3FOiDJ3dkKoiA=="/>
    <add key="url_address" value="http://api.weimi.cc/2/sms/send.html"/>
    <add key="Content_Template1" value="【西安交大】尊敬的%P%，根据工作安排，请您于%P%到%P%开会。联系人：%P%，电话：%P%。%P%"/>
    <add key="Content_Template2" value="【西安交大】尊敬的%P%，企业目前的安全指数值是%P%，处于%P%级别，请您登陆信息系统查看详情，并作出处理。%P%"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="ext"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI"/>
    </httpModules>
  </system.web>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>